CRUD APP

Endpoints

1: GET Task by ID
2: GET all Tasks
3: PATCH Update status of a Task
4: POST Create a Task
5: DELETE Task by ID

Task Requirements for POST

title, description, status, due date, will also need unique ID

CREATE TABLE tasks ( title TEXT NOT NULL,
id INTEGER PRIMARY KEY, description TEXT NOT NULL, 
status TEXT NOT NULL, duedate DATE
);

 INSERT into tasks (title, description, status, duedate) VALUES ('Review', 'Annual review', 'Pending', '08/11/2026');