body {
  background-color: rgb(240, 240, 237);
}

h1,
h2,
h3,
input,
button,
label {
  color: black;
  font-family: "GDS Transport", arial, sans-serif;
}

h1,
h2,
h3 {
  justify-content: center;
  text-align: center;
}

#task-div {
  max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  margin-bottom: 4px;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 1rem;
}

button {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

nav {
  overflow: hidden;
  background-color: #030303;
  position: relative;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: xx-large;
  border-bottom: 5px solid #376cce;
}

a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
