body {
  background-color: rgb(240, 240, 237);
}

h1,
h2,
h3,
input,
button,
label {
  color: black;
  font-family: "GDS Transport", arial, sans-serif;
}

nav {
  overflow: hidden;
  background-color: #030303;
  position: relative;
  font-family: "GDS Transport", arial, sans-serif;
  font-size: xx-large;
  border-bottom: 5px solid #376cce;
}

a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#task-div {
  justify-content: left;
}
