<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HM App</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script defer src="../main.js"></script>
  </head>
  <body>
    <div id="top-border">
      <img
        src="https://www.customs-link.com/sites/default/files/styles/blog_post_page_800_x_352/public/2024-01/Gov%20UK%20Blog%20Header.png?itok=yJejHhG6"
        \
      />
    </div>
  </body>
</html>
