<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HM App</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script defer src="../main.js"></script>
  </head>
  <body>
    <div id="top-border">
      <nav>
        <a href="#home">GOV UK</a>
      </nav>
    </div>
    <div>
      <h1>Tasks</h1>
      <div id="task-div">
        <h2>Add a task</h2>
        <form>
          <div class="form-field">
            <label for="title">Title</label>
            <input id="title" type="text" />
          </div>
          <div class="form-field">
            <label for="description">Description</label>
            <input id="description" type="text" />
          </div>
          <div class="form-field">
            <label for="status">Status</label>
            <input id="status" type="text" />
          </div>
          <div class="form-field">
            <label for="duedate">Due date</label>
            <input id="duedate" type="date" />
          </div>
          <button type="submit">Add</button>
        </form>
      </div>
      <div>
        <h3>All Tasks</h3>
        <div id="fetched-task">
          <p id="title-p"></p>
          <p id="status-p"></p>
          <p id="description-p"></p>
          <p id="due-date-p"></p>
        </div>
      </div>
    </div>
  </body>
</html>
